<div id="story" class="max-w-screen-2xl container mx-auto">

  <div class="text-2xl w-2/3 mx-auto text-center bg-opacity-70 bg-black p-12 mt-10">
    <turbo-frame id="story-image">
      <div class="mb-12 text-center w-full">
        <a href="/story/1">
          <%= image_tag("book_cover.jpg", alt: "Story slide 6", class: 'w-2/3 mx-auto') %>
        </a>
      </div>

      <p class="mb-12">
        <a href="/story/1">Once upon a time...</a>
      </p>
    </turbo-frame>
  </div>
</div>
