<%# <div class="w-1/2 font-semibold tracking-widest mx-auto h-full text-center text-8xl text-white px-12 py-40 bg-black bg-opacity-20"> %>
<div class="fixed top-1/4 left-1/4 w-1/2 h-1/2 text-white text-8xl font-semibold bg-black bg-opacity-20 text-center shadow-md">
  <a href="/story">
    <div class="p-40">
      Start
    </div>
    </a>
</div>
