<div class="text-center mb-6">
  <h2>Better luck next time Prince...</h2>
  <h3>The Princess was kidnapped and the Prince was eating flies for the rest of his days</h3>
</div>
<div class="w-4/5 mx-auto text-justify">
  <%= image_tag("frog_looking_into_distance.jpeg", alt: "Game outro slide - frog looking into distance", class: '') %>
</div>
